### Preparation of Combined Leagues OFFSIDES csv for modelling' 
#### Clean, feature selection, add expanding means, save

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # stops the slice default='warn' appearing

%matplotlib inline

In [2]:
df1 = pd.read_csv(r"C:\Users\MikeD\Documents\Betting\Football-Data-Combined\FS_Leagues_Data_Combined.csv", index_col=0)

In [3]:
df1.head()

,homeID,awayID,season,game_week,homeGoalCount,awayGoalCount,totalGoalCount,team_a_corners,team_b_corners,totalCornerCount,team_a_offsides,team_b_offsides,team_a_yellow_cards,team_b_yellow_cards,team_a_red_cards,team_b_red_cards,team_a_shotsOnTarget,team_b_shotsOnTarget,team_a_shotsOffTarget,team_b_shotsOffTarget,team_a_shots,team_b_shots,team_a_fouls,team_b_fouls,team_a_possession,team_b_possession,refereeID,coach_a_ID,coach_b_ID,stadium_name,stadium_location,team_a_cards_num,team_b_cards_num,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over25,odds_corners_over_85,odds_corners_1,odds_corners_x,odds_corners_2,odds_team_to_score_first_1,odds_team_to_score_first_x,odds_team_to_score_first_2,odds_win_to_nil_1,odds_win_to_nil_2,odds_1st_half_over05,odds_1st_half_over15,odds_1st_half_over25,odds_1st_half_over35,odds_1st_half_under05,odds_1st_half_under15,odds_1st_half_under25,odds_1st_half_under35,odds_2nd_half_over05,odds_2nd_half_over15,odds_2nd_half_over25,odds_2nd_half_over35,odds_2nd_half_under05,odds_2nd_half_under15,odds_2nd_half_under25,odds_2nd_half_under35,overallGoalCount,ht_goals_team_a,ht_goals_team_b,goals_2hg_team_a,goals_2hg_team_b,GoalCount_2hg,HTGoalCount,date_unix,attendance,corner_timings_recorded,card_timings_recorded,team_a_fh_corners,team_b_fh_corners,team_a_2h_corners,team_b_2h_corners,corner_fh_count,corner_2h_count,team_a_fh_cards,team_b_fh_cards,team_a_2h_cards,team_b_2h_cards,total_fh_cards,total_2h_cards,attacks_recorded,team_a_dangerous_attacks,team_b_dangerous_attacks,team_a_attacks,team_b_attacks,team_a_xg,team_b_xg,total_xg,team_a_penalties_won,team_b_penalties_won,team_a_penalty_goals,team_b_penalty_goals,team_a_penalty_missed,team_b_penalty_missed,pens_recorded,goal_timings_recorded,team_a_0_10_min_goals,team_b_0_10_min_goals,team_a_corners_0_10_min,team_b_corners_0_10_min,team_a_cards_0_10_min,team_b_cards_0_10_min,throwins_recorded,team_a_throwins,team_b_throwins,freekicks_recorded,team_a_freekicks,team_b_freekicks,goalkicks_recorded,team_a_goalkicks,team_b_goalkicks,avg_potential,home_name,away_name,home_ppg,away_ppg,pre_match_home_ppg,pre_match_away_ppg,pre_match_teamA_overall_ppg,pre_match_teamB_overall_ppg,competition_id,homeGoals_timings,awayGoals_timings
0,143,59,2022/2023,1,0,2,2,3,5,8,1,2,1,2,0,0,3,3,8,8,11,11,16,11,56,44,461.0,4.0,33237.0,Selhurst Park (London),NaN,1,2,3.29,3.49,2.09,1.90,1.50,2.73,8.00,1.71,2.75,9.80,1.50,7.00,2.90,1.36,2.75,8.0,21.0,3.00,1.40,1.08,1.02,1.23,2.05,4.33,10.5,3.8,1.68,1.19,1.04,2,0,1,0,1,1,1,1659726000,25286,1,1,1,2,2,3,3,5,0,1,1,1,1,2,1,60,50,110,86,1.35,1.27,2.61,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,25,14,1,13,17,1,4,2,0.0,Crystal Palace,Arsenal,1.47,2.05,0.0,0.0,0.0,0.0,7704,[],"['20', '85']"
1,162,151,2022/2023,1,2,2,4,4,4,8,4,4,2,0,0,0,4,4,6,8,10,12,7,9,33,67,690.0,214.0,85.0,Craven Cottage (London),NaN,2,0,9.05,5.40,1.34,1.66,1.39,9.50,14.25,1.11,4.33,19.75,1.22,17.00,2.05,1.25,2.20,5.0,13.0,3.75,1.62,1.17,1.04,1.17,1.82,3.50,8.0,4.5,1.85,1.25,1.07,4,1,0,1,2,3,1,1659785400,-1,1,1,3,1,1,3,4,4,1,0,1,0,1,1,1,43,63,98,122,1.23,1.50,2.73,1,0,1,0,0,0,1,1,0,0,1,0,0,0,1,22,34,1,11,10,1,7,5,0.0,Fulham,Liverpool,1.53,1.21,0.0,0.0,0.0,0.0,7704,"['32', '72']","['64', '80']"
2,148,158,2022/2023,1,2,0,2,5,5,10,1,4,3,3,0,0,4,2,2,8,6,10,18,16,34,66,728.0,7424.0,7410.0,"Vitality Stadium (Bournemouth, Dorset)",NaN,3,3,3.10,3.53,2.30,1.95,1.28,2.63,8.30,1.74,2.60,8.90,1.62,5.50,3.40,1.40,3.00,8.0,23.0,2.75,1.36,1.08,1.01,1.24,2.10,4.50,11.0,3.6,1.63,1.17,1.04,2,1,0,1,0,1,1,1659794400,-1,1,1,2,4,3,1,6,4,2,2,1,1,4,2,1,20,43,38,73,0.80,1.08,1.89,0,0,0,0,0,0,1,1,1,0,2,2,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0,AFC Bournemouth,Aston Villa,1.16,1.21,0.0,0.0,0.0,0.0,7704,"['2', '80']",[]
3,222,223,2022/2023,1,2,1,3,6,4,10,0,1,2,0,0,0,4,7,10,9,14,16,13,9,40,60,1248.0,1.0,11817.0,"Elland Road (Leeds, West Yorkshire)",NaN,2,0,2.30,3.58,3.07,2.03,1.50,2.28,7.00,1.88,1.73,8.60,2.30,3.75,5.00,1.44,3.00,9.0,23.0,2.63,1.36,1.07,1.01,1.25,2.15,4.60,11.5,3.5,1.61,1.16,1.04,3,1,1,1,0,1,2,1659794400,-1,1,1,3,0,3,4,3,7,1,0,1,0,1,1,1,48,63,97,114,1.51,1.96,3.47,0,0,0,0,0,0,1,1,0,1,0,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0,Leeds United,Wolverhampton Wanderers,1.16,0.58,0.0,0.0,0.0,0.0,7704,"['24', '74']",['6']
4,157,211,2022/2023,1,2,0,2,11,1,12,2,0,0,3,0,0,10,2,14,4,24,6,9,14,61,39,715.0,207.0,29453.0,St. James' Park (Newcastle upon Tyne),"St. James' Street, Newcastle upon Tyne",0,3,1.68,3.76,4.97,1.94,1.47,1.44,8.90,3.70,1.44,8.80,3.20,2.50,8.00,1.40,3.00,8.0,23.0,2.75,1.36,1.08,1.01,1.24,2.10,4.50,11.0,3.7,1.63,1.17,1.04,2,0,0,2,0,2,0,1659794400,52245,1,1,7,0,4,1,7,5,0,2,0,1,2,1,1,100,26,141,68,2.93,0.71,3.64,0,0,0,0,0,0,1,1,0,0,3,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0.0,Newcastle United,Nottingham Forest,2.05,0.42,0.0,0.0,0.0,0.0,7704,"['58', '78']",[]

In [4]:
for col in df1:
    print(col)

homeID
awayID
season
game_week
homeGoalCount
awayGoalCount
totalGoalCount
team_a_corners
team_b_corners
totalCornerCount
team_a_offsides
team_b_offsides
team_a_yellow_cards
team_b_yellow_cards
team_a_red_cards
team_b_red_cards
team_a_shotsOnTarget
team_b_shotsOnTarget
team_a_shotsOffTarget
team_b_shotsOffTarget
team_a_shots
team_b_shots
team_a_fouls
team_b_fouls
team_a_possession
team_b_possession
refereeID
coach_a_ID
coach_b_ID
stadium_name
stadium_location
team_a_cards_num
team_b_cards_num
odds_ft_1
odds_ft_x
odds_ft_2
odds_ft_over25
odds_corners_over_85
odds_corners_1
odds_corners_x
odds_corners_2
odds_team_to_score_first_1
odds_team_to_score_first_x
odds_team_to_score_first_2
odds_win_to_nil_1
odds_win_to_nil_2
odds_1st_half_over05
odds_1st_half_over15
odds_1st_half_over25
odds_1st_half_over35
odds_1st_half_under05
odds_1st_half_under15
odds_1st_half_under25
odds_1st_half_under35
odds_2nd_half_over05
odds_2nd_half_over15
odds_2nd_half_over25
odds_2nd_half_over35
odds_2nd_half_under05
odds_2nd_half_under15
odds_2nd_half_under25
odds_2nd_half_under35
overallGoalCount
ht_goals_team_a
ht_goals_team_b
goals_2hg_team_a
goals_2hg_team_b
GoalCount_2hg
HTGoalCount
date_unix
attendance
corner_timings_recorded
card_timings_recorded
team_a_fh_corners
team_b_fh_corners
team_a_2h_corners
team_b_2h_corners
corner_fh_count
corner_2h_count
team_a_fh_cards
team_b_fh_cards
team_a_2h_cards
team_b_2h_cards
total_fh_cards
total_2h_cards
attacks_recorded
team_a_dangerous_attacks
team_b_dangerous_attacks
team_a_attacks
team_b_attacks
team_a_xg
team_b_xg
total_xg
team_a_penalties_won
team_b_penalties_won
team_a_penalty_goals
team_b_penalty_goals
team_a_penalty_missed
team_b_penalty_missed
pens_recorded
goal_timings_recorded
team_a_0_10_min_goals
team_b_0_10_min_goals
team_a_corners_0_10_min
team_b_corners_0_10_min
team_a_cards_0_10_min
team_b_cards_0_10_min
throwins_recorded
team_a_throwins
team_b_throwins
freekicks_recorded
team_a_freekicks
team_b_freekicks
goalkicks_recorded
team_a_goalkicks
team_b_goalkicks
avg_potential
home_name
away_name
home_ppg
away_ppg
pre_match_home_ppg
pre_match_away_ppg
pre_match_teamA_overall_ppg
pre_match_teamB_overall_ppg
competition_id
homeGoals_timings
awayGoals_timings

In [5]:
# cols required for offsides 
df2 = df1[['competition_id',
           'date_unix',
           'home_name',
           'away_name', 
           'season',
           'odds_ft_1',
           'odds_ft_x',
           'odds_ft_2',
           'odds_ft_over25',
           'team_a_offsides',
           'team_b_offsides']]

In [6]:
df3 = df2.loc[df2['team_a_offsides'] != -1]

In [7]:
df3.shape

(115853, 11)

In [8]:
df3.duplicated().sum()

2913

In [9]:
df4 = df3.drop_duplicates()

In [10]:
df4.duplicated().sum()

0

In [11]:
df4.competition_id.unique()

array([ 7704,  7665,  7608,  7500,  7664,  6135,  6211,  6198,  6019,
        6192,  4759,  4944,  4889,  4505,  4673,  2012,  2319,  2588,
        2392,  4392,  1625,  1677,  1680,  1508,  1636,   161,   171,
         182,   180,   177,     9,    34,    68,    65,     3,    10,
          35,    69,    75,     4,    11,    36,    70,    66,     5,
          12,    37,    71,    67,     7,   246,    38,  3945,  4127,
        4105,  3631,  3940,  4136,  4123,  3632, 11181,  4193,  4133,
        7593,  7499,  7731,  8737,  8739,  7570,  7864,  7428,  7592,
        7498,  6089,  6020,  6117,  7064,  7048,  6017,  6205,  5948,
        6120,  5991,  4912,  4676,  4885,  5505,  5496,  4845,  4972,
        4760,  4842,  4547,  2187,  4388,  2321,  3703,  3695,  2191,
        2642,  2328,  2415,  2358,  1624,  1578,  1593,  1848,  1839,
        1564,  1749,  1589,  1670,  1601,   165,   188,   173,   994,
         993,   166,   183,   255,   172,   224,    22,    83,    13,
         104,    46,    28,    77,   278,    39,   225,    25,    84,
          14,   105,    44,    29,    78,   256,    40,   226,    26,
          85,    17,   106,    45,    30,    79,   279,    41,   227,
          27,  4131,    18,   107,  4224,    31,    80,   257,    42,
         228,  4232,  4237,  7482,  7501,  7574,  8595,  7426,  7544,
        7097,  7494,  7768,  7504,  5951,  6018,  6015,  7892,  5961,
        6079,  5713,  5992,  6125,  6044,  4746,  4645,  4844,  5586,
        4642,  4567,  3817,  4478,  4906,  2272,  2396,  2192,  5220,
        2245,  2262,  1936,  2361,  2648,  2249,  1585,  1579,  1574,
        2366,  1538,  1537,  1198,  1600,  1614,  1610,   178,   181,
         170,  1712,   561,   184,   100,   164,   175,   186,    51,
          73,    32,   196,   562,    82,   101,     2,    19,   136,
          52,    74,    33,   114,   563,   112,   580,   167,    20,
         137,    53,    76,   115,   564,   581,   168,    21,   138,
          54,  4164,   116,   565,   582,   169,   139,  4226,  4234,
        4185,   140,  3973,  8810,  7890,  8935,  7586,  7663,  7954,
        7967,  8899,  7425,  6935,  6008,  7120,  5938,  6037,  6282,
        5936,  6969,  7061,  6038,  5434,  4861,  5477,  4801,  4643,
        4957,  4534,  4764,  5674,  5506,  4507,  3686,  4384,  3645,
        2268,  2240,  2667,  2282,  2312,  4473,  4379,  2270,  1864,
        1556,  1874,  1545,  1597,  1752,  1566,  1596,  1846,  1862,
        1582,  1071,   190,  1191,   537,   195,   207,   730,  1086,
        1076,   307,   162,    89,    58,   538,   147,   208,   726,
        1087,   163,   308,   250,    90,    59,   539,   148,   209,
         727,  1088,     1,   309,   251,    91,    72,   540,   149,
         933,   731,  1089,    16,   749,   310,   252,    92,    60,
         541,   150,   934,   728,  1090,    23,   750,   311,   253,
        7573,  5934,  4308,    24,   751,   312], dtype=int64)

In [12]:
competition_counts = df4['competition_id'].value_counts()

for competition_id, count in competition_counts.items():
    print(f"Competition ID: {competition_id}, Count: {count}")

Competition ID: 22, Count: 557
Competition ID: 165, Count: 557
Competition ID: 25, Count: 557
Competition ID: 1564, Count: 556
Competition ID: 170, Count: 556
Competition ID: 1624, Count: 556
Competition ID: 166, Count: 555
Competition ID: 1574, Count: 555
Competition ID: 27, Count: 554
Competition ID: 28, Count: 553
Competition ID: 29, Count: 552
Competition ID: 26, Count: 551
Competition ID: 32, Count: 550
Competition ID: 2187, Count: 549
Competition ID: 7892, Count: 548
Competition ID: 31, Count: 547
Competition ID: 33, Count: 546
Competition ID: 30, Count: 544
Competition ID: 6017, Count: 540
Competition ID: 4912, Count: 537
Competition ID: 6089, Count: 534
Competition ID: 6015, Count: 532
Competition ID: 7574, Count: 531
Competition ID: 7570, Count: 531
Competition ID: 4845, Count: 520
Competition ID: 4844, Count: 517
Competition ID: 7593, Count: 514
Competition ID: 5586, Count: 489
Competition ID: 6969, Count: 489
Competition ID: 78, Count: 472
Competition ID: 5674, Count: 472
Competition ID: 183, Count: 471
Competition ID: 80, Count: 469
Competition ID: 77, Count: 469
Competition ID: 2415, Count: 468
Competition ID: 6120, Count: 468
Competition ID: 172, Count: 468
Competition ID: 7592, Count: 468
Competition ID: 42, Count: 465
Competition ID: 79, Count: 462
Competition ID: 4842, Count: 461
Competition ID: 116, Count: 461
Competition ID: 40, Count: 451
Competition ID: 1670, Count: 447
Competition ID: 114, Count: 447
Competition ID: 1846, Count: 421
Competition ID: 2191, Count: 403
Competition ID: 7864, Count: 390
Competition ID: 2642, Count: 390
Competition ID: 6205, Count: 390
Competition ID: 4972, Count: 386
Competition ID: 181, Count: 382
Competition ID: 6018, Count: 382
Competition ID: 1579, Count: 382
Competition ID: 7608, Count: 381
Competition ID: 4645, Count: 381
Competition ID: 1625, Count: 380
Competition ID: 5713, Count: 380
Competition ID: 581, Count: 380
Competition ID: 1677, Count: 380
Competition ID: 6125, Count: 380
Competition ID: 68, Count: 380
Competition ID: 7501, Count: 380
Competition ID: 7097, Count: 380
Competition ID: 2588, Count: 380
Competition ID: 2319, Count: 380
Competition ID: 7665, Count: 380
Competition ID: 2012, Count: 380
Competition ID: 582, Count: 380
Competition ID: 4505, Count: 380
Competition ID: 5434, Count: 380
Competition ID: 6019, Count: 380
Competition ID: 6198, Count: 380
Competition ID: 6211, Count: 380
Competition ID: 7500, Count: 380
Competition ID: 1680, Count: 380
Competition ID: 3632, Count: 380
Competition ID: 1508, Count: 380
Competition ID: 3940, Count: 380
Competition ID: 34, Count: 380
Competition ID: 10, Count: 380
Competition ID: 35, Count: 380
Competition ID: 69, Count: 380
Competition ID: 75, Count: 380
Competition ID: 11, Count: 380
Competition ID: 12, Count: 380
Competition ID: 71, Count: 380
Competition ID: 67, Count: 380
Competition ID: 246, Count: 380
Competition ID: 4127, Count: 380
Competition ID: 9, Count: 380
Competition ID: 3631, Count: 380
Competition ID: 38, Count: 380
Competition ID: 4136, Count: 380
Competition ID: 182, Count: 380
Competition ID: 11181, Count: 380
Competition ID: 161, Count: 380
Competition ID: 4193, Count: 380
Competition ID: 171, Count: 380
Competition ID: 180, Count: 380
Competition ID: 580, Count: 379
Competition ID: 73, Count: 379
Competition ID: 3817, Count: 379
Competition ID: 37, Count: 379
Competition ID: 100, Count: 379
Competition ID: 65, Count: 379
Competition ID: 3945, Count: 379
Competition ID: 70, Count: 378
Competition ID: 1198, Count: 378
Competition ID: 1936, Count: 378
Competition ID: 196, Count: 377
Competition ID: 4944, Count: 376
Competition ID: 101, Count: 374
Competition ID: 36, Count: 373
Competition ID: 2192, Count: 373
Competition ID: 66, Count: 372
Competition ID: 4889, Count: 371
Competition ID: 74, Count: 369
Competition ID: 7704, Count: 368
Competition ID: 4759, Count: 365
Competition ID: 41, Count: 360
Competition ID: 76, Count: 359
Competition ID: 6135, Count: 356
Competition ID: 8595, Count: 355
Competition ID: 1749, Count: 351
Competition ID: 1076, Count: 343
Competition ID: 4507, Count: 342
Competition ID: 6038, Count: 342
Competition ID: 7425, Count: 337
Competition ID: 1582, Count: 334
Competition ID: 4164, Count: 331
Competition ID: 7544, Count: 330
Competition ID: 6079, Count: 329
Competition ID: 307, Count: 327
Competition ID: 1712, Count: 325
Competition ID: 4473, Count: 321
Competition ID: 934, Count: 318
Competition ID: 7663, Count: 317
Competition ID: 311, Count: 317
Competition ID: 309, Count: 317
Competition ID: 6037, Count: 316
Competition ID: 7768, Count: 313
Competition ID: 54, Count: 312
Competition ID: 4226, Count: 312
Competition ID: 7482, Count: 312
Competition ID: 178, Count: 312
Competition ID: 51, Count: 312
Competition ID: 1585, Count: 312
Competition ID: 52, Count: 311
Competition ID: 5951, Count: 311
Competition ID: 310, Count: 308
Competition ID: 4764, Count: 307
Competition ID: 5948, Count: 306
Competition ID: 6117, Count: 306
Competition ID: 6020, Count: 306
Competition ID: 16, Count: 306
Competition ID: 2648, Count: 306
Competition ID: 7428, Count: 306
Competition ID: 1614, Count: 306
Competition ID: 7731, Count: 306
Competition ID: 7499, Count: 306
Competition ID: 4123, Count: 306
Competition ID: 4105, Count: 306
Competition ID: 7, Count: 306
Competition ID: 4, Count: 306
Competition ID: 3, Count: 306
Competition ID: 1636, Count: 306
Competition ID: 4392, Count: 306
Competition ID: 4673, Count: 306
Competition ID: 8810, Count: 306
Competition ID: 6935, Count: 306
Competition ID: 6192, Count: 306
Competition ID: 7664, Count: 306
Competition ID: 177, Count: 306
Competition ID: 1864, Count: 306
Competition ID: 4388, Count: 306
Competition ID: 14, Count: 306
Competition ID: 188, Count: 306
Competition ID: 1593, Count: 306
Competition ID: 85, Count: 306
Competition ID: 1578, Count: 306
Competition ID: 2321, Count: 306
Competition ID: 173, Count: 306
Competition ID: 83, Count: 306
Competition ID: 17, Count: 305
Competition ID: 175, Count: 305
Competition ID: 4133, Count: 305
Competition ID: 3686, Count: 305
Competition ID: 5, Count: 305
Competition ID: 84, Count: 305
Competition ID: 13, Count: 304
Competition ID: 162, Count: 304
Competition ID: 1090, Count: 304
Competition ID: 4131, Count: 304
Competition ID: 4801, Count: 303
Competition ID: 4676, Count: 303
Competition ID: 1089, Count: 303
Competition ID: 4885, Count: 303
Competition ID: 19, Count: 303
Competition ID: 250, Count: 302
Competition ID: 1071, Count: 302
Competition ID: 252, Count: 301
Competition ID: 308, Count: 300
Competition ID: 4746, Count: 299
Competition ID: 23, Count: 298
Competition ID: 251, Count: 297
Competition ID: 21, Count: 297
Competition ID: 255, Count: 296
Competition ID: 2328, Count: 296
Competition ID: 1589, Count: 296
Competition ID: 278, Count: 296
Competition ID: 279, Count: 295
Competition ID: 53, Count: 295
Competition ID: 257, Count: 295
Competition ID: 256, Count: 294
Competition ID: 20, Count: 294
Competition ID: 112, Count: 293
Competition ID: 933, Count: 285
Competition ID: 39, Count: 284
Competition ID: 2396, Count: 280
Competition ID: 2392, Count: 279
Competition ID: 5938, Count: 276
Competition ID: 2366, Count: 276
Competition ID: 7586, Count: 275
Competition ID: 2270, Count: 274
Competition ID: 1545, Count: 273
Competition ID: 1537, Count: 269
Competition ID: 184, Count: 268
Competition ID: 1596, Count: 268
Competition ID: 1088, Count: 268
Competition ID: 1086, Count: 267
Competition ID: 1087, Count: 265
Competition ID: 82, Count: 263
Competition ID: 2312, Count: 261
Competition ID: 208, Count: 251
Competition ID: 209, Count: 250
Competition ID: 1538, Count: 243
Competition ID: 561, Count: 243
Competition ID: 2245, Count: 243
Competition ID: 562, Count: 242
Competition ID: 6282, Count: 240
Competition ID: 5505, Count: 240
Competition ID: 1848, Count: 240
Competition ID: 5934, Count: 240
Competition ID: 115, Count: 240
Competition ID: 1752, Count: 240
Competition ID: 1597, Count: 240
Competition ID: 5496, Count: 240
Competition ID: 150, Count: 240
Competition ID: 4232, Count: 240
Competition ID: 148, Count: 240
Competition ID: 7064, Count: 240
Competition ID: 2667, Count: 240
Competition ID: 3695, Count: 240
Competition ID: 3703, Count: 240
Competition ID: 147, Count: 239
Competition ID: 7573, Count: 239
Competition ID: 195, Count: 239
Competition ID: 7954, Count: 239
Competition ID: 149, Count: 239
Competition ID: 8737, Count: 239
Competition ID: 731, Count: 239
Competition ID: 1839, Count: 239
Competition ID: 207, Count: 239
Competition ID: 728, Count: 239
Competition ID: 7048, Count: 239
Competition ID: 541, Count: 239
Competition ID: 8739, Count: 238
Competition ID: 994, Count: 238
Competition ID: 4643, Count: 238
Competition ID: 18, Count: 237
Competition ID: 540, Count: 237
Competition ID: 2240, Count: 237
Competition ID: 104, Count: 235
Competition ID: 993, Count: 235
Competition ID: 539, Count: 235
Competition ID: 4224, Count: 235
Competition ID: 538, Count: 234
Competition ID: 1, Count: 234
Competition ID: 4760, Count: 233
Competition ID: 4957, Count: 233
Competition ID: 45, Count: 233
Competition ID: 2272, Count: 232
Competition ID: 105, Count: 231
Competition ID: 163, Count: 230
Competition ID: 107, Count: 230
Competition ID: 167, Count: 228
Competition ID: 1600, Count: 228
Competition ID: 164, Count: 228
Competition ID: 537, Count: 228
Competition ID: 4478, Count: 226
Competition ID: 2, Count: 226
Competition ID: 169, Count: 225
Competition ID: 5992, Count: 224
Competition ID: 168, Count: 220
Competition ID: 7061, Count: 219
Competition ID: 106, Count: 219
Competition ID: 7494, Count: 218
Competition ID: 2268, Count: 217
Competition ID: 5506, Count: 214
Competition ID: 46, Count: 212
Competition ID: 24, Count: 207
Competition ID: 4567, Count: 205
Competition ID: 8899, Count: 200
Competition ID: 1862, Count: 199
Competition ID: 726, Count: 198
Competition ID: 564, Count: 198
Competition ID: 565, Count: 198
Competition ID: 1566, Count: 196
Competition ID: 563, Count: 196
Competition ID: 44, Count: 196
Competition ID: 6008, Count: 195
Competition ID: 727, Count: 195
Competition ID: 1556, Count: 195
Competition ID: 4384, Count: 195
Competition ID: 4861, Count: 195
Competition ID: 7890, Count: 195
Competition ID: 730, Count: 194
Competition ID: 4642, Count: 193
Competition ID: 5961, Count: 193
Competition ID: 7426, Count: 193
Competition ID: 253, Count: 192
Competition ID: 5936, Count: 190
Competition ID: 7967, Count: 186
Competition ID: 1191, Count: 184
Competition ID: 224, Count: 180
Competition ID: 7504, Count: 180
Competition ID: 2249, Count: 180
Competition ID: 89, Count: 180
Competition ID: 1601, Count: 180
Competition ID: 4534, Count: 180
Competition ID: 6044, Count: 180
Competition ID: 226, Count: 179
Competition ID: 190, Count: 179
Competition ID: 90, Count: 178
Competition ID: 1610, Count: 178
Competition ID: 225, Count: 176
Competition ID: 92, Count: 174
Competition ID: 91, Count: 173
Competition ID: 227, Count: 173
Competition ID: 186, Count: 173
Competition ID: 4906, Count: 173
Competition ID: 2282, Count: 172
Competition ID: 136, Count: 170
Competition ID: 8935, Count: 167
Competition ID: 137, Count: 164
Competition ID: 7120, Count: 162
Competition ID: 2262, Count: 162
Competition ID: 5477, Count: 162
Competition ID: 60, Count: 160
Competition ID: 1874, Count: 159
Competition ID: 228, Count: 156
Competition ID: 138, Count: 149
Competition ID: 72, Count: 148
Competition ID: 139, Count: 141
Competition ID: 4379, Count: 138
Competition ID: 5220, Count: 135
Competition ID: 59, Count: 134
Competition ID: 3645, Count: 132
Competition ID: 58, Count: 127
Competition ID: 749, Count: 81
Competition ID: 750, Count: 67
Competition ID: 751, Count: 45
Competition ID: 2361, Count: 42
Competition ID: 7498, Count: 31
Competition ID: 3973, Count: 24
Competition ID: 4308, Count: 21
Competition ID: 2358, Count: 14
Competition ID: 5991, Count: 13
Competition ID: 4547, Count: 13
Competition ID: 140, Count: 12
Competition ID: 4237, Count: 11
Competition ID: 4185, Count: 6
Competition ID: 312, Count: 2
Competition ID: 4234, Count: 1

In [13]:
# remove competitions with less than 100 matches

# Get competition_ids where the count is less than 100
filtered_competition_ids = competition_counts[competition_counts < 100].index

# Remove rows with competition_ids that have count less than 100
df4 = df4[~df4['competition_id'].isin(filtered_competition_ids)]

In [14]:
df4.shape

(112557, 11)

In [15]:
df4['HW_%'] = round((1/df4['odds_ft_1']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2)  # Add a column giving the Home Win % (HW_%)
df4['X_%'] = round((1/df4['odds_ft_x']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2) # Draw %
df4['AW_%'] = round((1/df4['odds_ft_2']) / (1/df4['odds_ft_1'] + 1/df4['odds_ft_x'] + 1/df4['odds_ft_2']),2) # Away %

In [16]:
df4['odds_ft_under25'] = 1/(1.07 - 1/df4['odds_ft_over25'])

In [17]:
df4['O_2.5_%'] = round(1/df4['odds_ft_over25'] / (1/df4['odds_ft_over25'] + 1/df4['odds_ft_under25']),2)
df4['U_2.5_%'] = round(1/df4['odds_ft_under25'] / (1/df4['odds_ft_over25'] + 1/df4['odds_ft_under25']),2)

In [18]:
df4.drop(['odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'odds_ft_over25', 'odds_ft_under25'], axis = 1, inplace=True)

In [19]:
df4.head()

,competition_id,date_unix,home_name,away_name,season,team_a_offsides,team_b_offsides,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%
0,7704,1659726000,Crystal Palace,Arsenal,2022/2023,1,2,0.28,0.27,0.45,0.49,0.51
1,7704,1659785400,Fulham,Liverpool,2022/2023,4,4,0.11,0.18,0.72,0.56,0.44
2,7704,1659794400,AFC Bournemouth,Aston Villa,2022/2023,1,4,0.31,0.27,0.42,0.48,0.52
3,7704,1659794400,Leeds United,Wolverhampton Wanderers,2022/2023,0,1,0.42,0.27,0.31,0.46,0.54
4,7704,1659794400,Newcastle United,Nottingham Forest,2022/2023,2,0,0.56,0.25,0.19,0.48,0.52

In [20]:
# add date column
from datetime import datetime

# Convert Unix timestamps to datetime objects
df4['date_unix'] = pd.to_datetime(df4['date_unix'], unit='s')

# Convert datetime objects to the desired date format (dd/mm/yyyy)
df4['date'] = df4['date_unix'].dt.strftime('%d/%m/%Y')
df4.drop(['date_unix'], axis=1, inplace=True)
df4.head()

,competition_id,home_name,away_name,season,team_a_offsides,team_b_offsides,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date
0,7704,Crystal Palace,Arsenal,2022/2023,1,2,0.28,0.27,0.45,0.49,0.51,05/08/2022
1,7704,Fulham,Liverpool,2022/2023,4,4,0.11,0.18,0.72,0.56,0.44,06/08/2022
2,7704,AFC Bournemouth,Aston Villa,2022/2023,1,4,0.31,0.27,0.42,0.48,0.52,06/08/2022
3,7704,Leeds United,Wolverhampton Wanderers,2022/2023,0,1,0.42,0.27,0.31,0.46,0.54,06/08/2022
4,7704,Newcastle United,Nottingham Forest,2022/2023,2,0,0.56,0.25,0.19,0.48,0.52,06/08/2022

In [21]:
# Overlay Sup and goal exp

In [22]:
dfOU = pd.read_csv('C:/Users/MikeD/Documents/Betting/OverUnder_Exp.csv', index_col=False)
dfOU

     Exp1  Under  Over  Un2.5_%  Ov2.5_%   Exp
0    1.64   1.29  4.45     0.78     0.22  1.64
1    1.66   1.30  4.33     0.77     0.23  1.66
2    1.68   1.31  4.23     0.76     0.24  1.68
3    1.70   1.32  4.13     0.76     0.24  1.70
4    1.73   1.33  4.03     0.75     0.25  1.73
..    ...    ...   ...      ...      ...   ...
222  4.94   7.67  1.15     0.13     0.87  4.94
223  5.03   8.14  1.14     0.12     0.88  5.03
224  5.12   8.69  1.13     0.12     0.88  5.12
225  5.23   9.33  1.12     0.11     0.89  5.23
226  5.34  10.09  1.11     0.10     0.90  5.34

[227 rows x 6 columns]

In [23]:
dfOU = dfOU.drop(['Exp1','Under','Over', 'Un2.5_%'], axis = 1)
dfOU.drop_duplicates(subset='Ov2.5_%', inplace = True)
dfOU

     Ov2.5_%   Exp
0       0.22  1.64
1       0.23  1.66
2       0.24  1.68
4       0.25  1.73
6       0.26  1.77
..       ...   ...
221     0.86  4.85
222     0.87  4.94
223     0.88  5.03
225     0.89  5.23
226     0.90  5.34

[69 rows x 2 columns]

In [24]:
dfOU.rename(columns = {'Ov2.5_%':'O_2.5_%'}, inplace=True)
#df5 = pd.merge(left=df4, right = dfOU, how='left')

In [25]:
df5 = pd.merge(left=df4, right = dfOU, how='left')

In [26]:
df5.head()

,competition_id,home_name,away_name,season,team_a_offsides,team_b_offsides,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp
0,7704,Crystal Palace,Arsenal,2022/2023,1,2,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62
1,7704,Fulham,Liverpool,2022/2023,4,4,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94
2,7704,AFC Bournemouth,Aston Villa,2022/2023,1,4,0.31,0.27,0.42,0.48,0.52,06/08/2022,2.60
3,7704,Leeds United,Wolverhampton Wanderers,2022/2023,0,1,0.42,0.27,0.31,0.46,0.54,06/08/2022,2.53
4,7704,Newcastle United,Nottingham Forest,2022/2023,2,0,0.56,0.25,0.19,0.48,0.52,06/08/2022,2.60

In [27]:
# add home/away exp goals
df5['HG_Exp'] = round((df5['Exp']) * (df5['HW_%'] + 0.5 * df5['X_%']),2)
df5['AG_Exp'] = round((df5['Exp']) * (df5['AW_%'] + 0.5 * df5['X_%']),2)
df5['Sup Exp'] = df5['HG_Exp'] - df5['AG_Exp']
df5.head()

,competition_id,home_name,away_name,season,team_a_offsides,team_b_offsides,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp
0,7704,Crystal Palace,Arsenal,2022/2023,1,2,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44
1,7704,Fulham,Liverpool,2022/2023,4,4,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79
2,7704,AFC Bournemouth,Aston Villa,2022/2023,1,4,0.31,0.27,0.42,0.48,0.52,06/08/2022,2.60,1.16,1.44,-0.28
3,7704,Leeds United,Wolverhampton Wanderers,2022/2023,0,1,0.42,0.27,0.31,0.46,0.54,06/08/2022,2.53,1.40,1.13,0.27
4,7704,Newcastle United,Nottingham Forest,2022/2023,2,0,0.56,0.25,0.19,0.48,0.52,06/08/2022,2.60,1.78,0.82,0.96

In [28]:
df6 = df5.copy()

In [29]:
# Calculate the league running average of 'team_a/b_offsides' column on a competition_id 
df6['h_lg_r_av'] = round(df6.groupby('competition_id')['team_a_offsides'].transform(lambda x: x.shift(1).expanding().mean()),2)
df6['a_lg_r_av'] = round(df6.groupby('competition_id')['team_b_offsides'].transform(lambda x: x.shift(1).expanding().mean()),2)

In [30]:
# Calculate team running averages
def running_average(series):
    return series.expanding().mean().shift()

# Create running averages for when home team is in home_name column
df6['ht_h_r_av_f'] = round(df6.groupby(['competition_id', 'home_name'])['team_a_offsides'].apply(running_average), 2)
df6['ht_h_r_av_ag'] = round(df6.groupby(['competition_id', 'home_name'])['team_b_offsides'].apply(running_average), 2)

# Create running averages for when away team is in away_name column
df6['at_a_r_av_f'] = round(df6.groupby(['competition_id', 'away_name'])['team_b_offsides'].apply(running_average), 2)
df6['at_a_r_av_ag'] = round(df6.groupby(['competition_id', 'away_name'])['team_a_offsides'].apply(running_average), 2)

# Create running averages for when home team is in away_name column
df6['ht_a_r_av_f'] = round(df6.groupby(['competition_id', 'away_name'])['team_b_offsides'].apply(running_average), 2)
df6['ht_a_r_av_ag'] = round(df6.groupby(['competition_id', 'away_name'])['team_a_offsides'].apply(running_average), 2)

# Create running averages for when away team is in home_name column
df6['at_h_r_av_f'] = round(df6.groupby(['competition_id', 'home_name'])['team_a_offsides'].apply(running_average), 2)
df6['at_h_r_av_ag'] = round(df6.groupby(['competition_id', 'home_name'])['team_b_offsides'].apply(running_average), 2)

In [31]:
df6.reset_index(drop=True,inplace=True)
df6.head()

,competition_id,home_name,away_name,season,team_a_offsides,team_b_offsides,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag,ht_a_r_av_f,ht_a_r_av_ag,at_h_r_av_f,at_h_r_av_ag
0,7704,Crystal Palace,Arsenal,2022/2023,1,2,0.28,0.27,0.45,0.49,0.51,05/08/2022,2.62,1.09,1.53,-0.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7704,Fulham,Liverpool,2022/2023,4,4,0.11,0.18,0.72,0.56,0.44,06/08/2022,2.94,0.59,2.38,-1.79,1.0,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7704,AFC Bournemouth,Aston Villa,2022/2023,1,4,0.31,0.27,0.42,0.48,0.52,06/08/2022,2.60,1.16,1.44,-0.28,2.5,3.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7704,Leeds United,Wolverhampton Wanderers,2022/2023,0,1,0.42,0.27,0.31,0.46,0.54,06/08/2022,2.53,1.40,1.13,0.27,2.0,3.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7704,Newcastle United,Nottingham Forest,2022/2023,2,0,0.56,0.25,0.19,0.48,0.52,06/08/2022,2.60,1.78,0.82,0.96,1.5,2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df6.shape

(112557, 26)

In [33]:
df6.isnull().sum()

competition_id         0
home_name              0
away_name              0
season                 0
team_a_offsides        0
team_b_offsides        0
HW_%               10756
X_%                10766
AW_%               10758
O_2.5_%            50459
U_2.5_%            50459
date                   0
Exp                50648
HG_Exp             50772
AG_Exp             50771
Sup Exp            50774
h_lg_r_av            360
a_lg_r_av            360
ht_h_r_av_f         6397
ht_h_r_av_ag        6397
at_a_r_av_f         6400
at_a_r_av_ag        6400
ht_a_r_av_f         6400
ht_a_r_av_ag        6400
at_h_r_av_f         6397
at_h_r_av_ag        6397
dtype: int64

In [34]:
df6.dropna(inplace=True)

In [35]:
df6.shape

(58127, 26)

In [36]:
# remove top 40 rows of each comp id - running averages will be skewed by lack of data
def remove_top_40_rows(group):
    return group.iloc[30:]

# Apply the function to each group within each competition_id
df_filtered = df6.groupby('competition_id').apply(remove_top_40_rows)

# Reset the index of the resulting DataFrame
df6 = df_filtered.reset_index(drop=True)

In [37]:
df6.shape

(51791, 26)

In [38]:
df6.reset_index(drop=True,inplace=True)
df6.head()

,competition_id,home_name,away_name,season,team_a_offsides,team_b_offsides,HW_%,X_%,AW_%,O_2.5_%,U_2.5_%,date,Exp,HG_Exp,AG_Exp,Sup Exp,h_lg_r_av,a_lg_r_av,ht_h_r_av_f,ht_h_r_av_ag,at_a_r_av_f,at_a_r_av_ag,ht_a_r_av_f,ht_a_r_av_ag,at_h_r_av_f,at_h_r_av_ag
0,161,Burnley,Huddersfield Town,2017/2018,5,3,0.44,0.31,0.26,0.38,0.62,23/09/2017,2.22,1.32,0.92,0.40,1.90,2.24,4.5,2.00,1.5,0.0,1.5,0.0,4.5,2.00
1,161,Everton,AFC Bournemouth,2017/2018,3,1,0.61,0.23,0.16,0.50,0.50,23/09/2017,2.66,1.93,0.73,1.20,1.96,2.25,3.0,4.50,0.0,3.0,0.0,3.0,3.0,4.50
2,161,Manchester City,Crystal Palace,2017/2018,0,1,0.79,0.12,0.09,0.69,0.31,23/09/2017,3.57,3.03,0.54,2.49,1.98,2.23,2.5,2.50,2.5,5.0,2.5,5.0,2.5,2.50
3,161,Southampton,Manchester United,2017/2018,3,2,0.20,0.25,0.55,0.45,0.55,23/09/2017,2.47,0.80,1.67,-0.87,1.94,2.20,1.0,0.67,2.0,1.0,2.0,1.0,1.0,0.67
4,161,Stoke City,Chelsea,2017/2018,0,1,0.18,0.25,0.57,0.51,0.49,23/09/2017,2.71,0.83,1.88,-1.05,1.96,2.20,2.5,3.50,1.5,0.5,1.5,0.5,2.5,3.50

#### Copy DF to file 'Leagues_Data_Combined'

In [39]:
df6.to_csv(r'C:\Users\MikeD\Documents\Betting\Python Analysis\FS_Leagues_Offs_DF_Prepared.csv')
print('DF written to csv successfully')

DF written to csv successfully